@charset "utf-8";
/*@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');*/

/*Criando regras utilizando o fluxo do MOBILE FIRST*/
/*Regras gerais*/
body {
    margin: 0;
    padding: 0;
    width: 100%;
}
hr {
    max-width: 200px;
}

img {
    max-width: 100%;
}

/*Regras do Topo*/
#topo {
    background-color: black;
    border-bottom: solid 1px;
    text-align: center;
    margin-bottom: 15px;
}

h1 img {
    margin-top: 25px;
    width: 200px;
}

#iconMenu {
    color: white;
    cursor: pointer;
    min-height: 40px;
    display: block;
    overflow: hidden;
    line-height: 40px;
    padding-left: 1%;
    font-size: 40px;
}

nav {
    min-height: 40px;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
    overflow: hidden;
    line-height: 40px;
    padding-left: 1%;
}

nav a:link,
nav a:visited,
#iconMenu:link,
#iconMenu:visited {
    text-decoration: none;
    color: white;
    transition: background-color 1s;
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a:hover,
nav a:focus,
#iconMenu:hover,
#iconMenu:focus {
    background-color: #B06761;
    color: black;
    transition: background-color 1s;
    border-radius: 5%;
}

/*Regras para o FOOTER*/
.rodape {
    border-top: solid #B06761 5px;
    background-color: #000;
    color: #7f7f80;
    text-align: center;
    width: 100%;
}

.rodape p,
li {
    font-size: 16px;
}

.rodape img {
    margin: 0 5px;
}

.rodape-conteudo {
    padding: 15px;
    color: #fff;

}

.rodape-conteudo ul {
    list-style: none;
    margin: o auto;
    padding: 10px 0;
}

#logo-rodape {
    min-width: 146px;
    width: 150 px;
    margin: 0 auto;
}

.endereco {
    color: white;
    margin-top: 10px;
    line-height: 45px;
}

#logo-rodape img {
    margin-top: 25px;
    width: 200px;
}

.menu-rodape a {
    text-decoration: none;
    color: #7f7f80;
}

.menu-rodape a:hover {
    color: #fff;
}

.redes img {
    min-width: 35px;
    width: 35px;
}

.assinatura {
    color: #fff;
    background-color: #7f7f80;
    text-align: center;
    height: auto;
}

.assinatura p {
    padding-top: 3%;
}

/*Regras Para o Index (Conteudo)*/
.frase {
    font-family: cursive;
    background-color: #B06761;
    color: white;
    text-align: center;
    padding: 7px;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    line-height: 25px;
}

.sobreObar img {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100%;
}

#texto {
    text-align: center;
    font-family: sans-serif;
}

#texto h4 {
    margin-top: 2%;
    margin-bottom: 3%;
    padding: 2%;
    background-color: #B06761;
    color: white;
}

.card {
    margin: 25px;
    background-color: white;
    padding: 5px;
    border: #B06761 1px;
    text-align: center;
    border-radius: 10px;
    box-shadow: black 1px 1px 5px;
}

.card img {
    width: 500px;
    height: 250px;
    border-radius: 10px;
    box-shadow: grey 1px 1px 5px;
}

.card h5 {
    font-weight: bold;
    text-transform: uppercase;
    background-color: #b06861a6;
    padding: 10px;
    color: #000
}



/*REGRAS PARA CARDAPIO (PAGINA CARDAPIO)*/
.conteudo-cardapio{
    background-color: rgba(154, 65, 65, 0.199);
}
.cardapios {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;

}

.cardapios h3 {
    color: black;
    margin: 6px;
    text-align: center;
}

.cardapios h3:hover {
    color: #B06761;
    transition: 1s;
}

.preço {
    color: #B06761;
}

/*Petiscos*/

.petiscos {
    margin: 3px;
    box-shadow: grey 1px 1px 5px;
}

.petiscos h3 {
    text-align: center;
    margin-top: 15px;
    background-color: #B06761;
    color: white;
    padding: 5px;
}

.card-petisco img {
    width: 75px;
    height: 70px;
    border-radius: 5px;
}

.card-petisco {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 3px;
    background-color: white;
}

.card-petisco p {
    max-width: 150px;
}

/*bolinhos*/

.bolinhos {
    margin: 3px;
    box-shadow: grey 1px 1px 5px;
    margin-top: 10px;
}

.bolinhos h3 {
    text-align: center;
    margin-top: 5px;
    background-color: #B06761;
    color: white;
    padding: 5px;
}

.card-bolinhos img {
    width: 75px;
    height: 70px;
    border-radius: 5px;
}

.card-bolinhos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 3px;
    background-color: white
}

.card-bolinhos p {
    max-width: 150px;
}

/*lanche*/
.lanche {
    margin: 3px;
    box-shadow: grey 1px 1px 5px;
    margin-top: 10px;
}

.lanche h3 {
    text-align: center;
    margin-top: 5px;
    background-color: #B06761;
    color: white;
    padding: 5px;
}

.card-lanche {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 3px;
    background-color: white;
}

.card-lanche img {
    width: 75px;
    height: 70px;
    border-radius: 5px;
}

.card-lanche p {
    max-width: 150px;
}

/*cervejas */

.cervejas {
    margin: 3px;
    box-shadow: grey 1px 1px 5px;
    margin-top: 10px;
}

.cervejas h3 {
    text-align: center;
    margin-top: 5px;
    background-color: #B06761;
    color: white;
    padding: 5px;
}

.card-cerveja {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 3px;
    background-color: white;
}

.card-cerveja img {
    width: 75px;
    height: 70px;
    border-radius: 5px;
}

.card-cerveja p {
    width: 150px;
}

/*Long Neck*/
.long-neck {
    margin: 3px;
    box-shadow: grey 1px 1px 5px;
    margin-bottom: 25px;
 
}

.long-neck h3 {
    text-align: center;
    margin-top: 10px;
    background-color: #B06761;
    color: white;
    padding: 5px;
}

.card-long-neck {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    padding: 3px;
    background-color: white;
  }
.card-long-neck img{
    width: 75px;
    height: 70px;
    border-radius: 5px;
}
.card-long-neck p{
    width: 150px;
}